<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1&{% for key,value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}">« First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{% for key,value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}">‹ Prev</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">« First</span></li>
            <li class="page-item disabled"><span class="page-link">‹ Prev</span></li>
        {% endif %}
        <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{% for key,value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}">Next ›</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{% for key,value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}">Last »</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next ›</span></li>
            <li class="page-item disabled"><span class="page-link">Last »</span></li>
        {% endif %}
    </ul>
</nav>
<div class="d-flex justify-content-start">
    <div class="alert alert-info me-2 p-1">Total items: {{ form.items_count }}</div>
    <div class="alert alert-info me-2 p-1">Total pages: {{ form.total_pages }}</div>
    <div class="alert alert-info me-2 p-1">Per page: {{ form.per_page }}</div>
</div>